$accent1: #eaba23;
$accent2: #950000;
$accent3: #000000;

/*
Acumin Pro Bold

font-family: acumin-pro, sans-serif;

font-weight: 700;

font-style: normal;

Acumin Pro Bold Italic

font-family: acumin-pro, sans-serif;

font-weight: 700;

font-style: italic;

Acumin Pro Italic

font-family: acumin-pro, sans-serif;

font-weight: 400;

font-style: italic;

Acumin Pro Regular

font-family: acumin-pro, sans-serif;

font-weight: 400;

font-style: normal;

*/


html {
    scroll-behavior: smooth;
}

body {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    text-align: center;
    color: $accent3;
    font-family: acumin-pro, sans-serif;
    font-weight: 700;

}

.h-style h2 {
    line-height: 0.6;
}

.h-style {
    display: block;
   background-color: $accent1;
   width: max-content;
   width: -moz-max-content;
   width: -webkit-max-content;
   width: -o-max-content;
   margin: 8% auto 3%;
   padding: 0px 25px;
   -moz-transform: skew(-12deg, 0deg);
    -webkit-transform: skew(-12deg, 0deg);
    -o-transform: skew(-12deg, 0deg);
    -ms-transform: skew(-12deg, 0deg);
    transform: skew(-12deg, 0deg);
    height: 23px;
}

a {
    color: $accent2;
}

.italic {
    font-style: italic;
}

.characters-flex-container {
    display: flex;
    width: 100%;
    margin: 0 auto 3%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.characters-flex {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 3%;
}



/* Embed */
.em-cont {
    max-width: 800px;
    max-height: 450px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.embed {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    overflow: hidden;
}

/* Video feed */
.more-flex{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}.more-flex a{display:inline-block;width:20%;max-width:320px;text-decoration:none}.mf-pad-wrap{padding:0 5px}@media only screen and (max-width:980px){.more-flex a{width:33%}.more-flex a:last-child div.mf-pad-wrap{padding:0 5px}}@media only screen and (max-width:500px){.more-flex a{width:100%!important;margin:0 auto;padding-bottom:15px}.more-flex a div.mf-pad-wrap{padding-right:0}.more-flex a:last-child div.mf-pad-wrap{padding-right:0}}.more-img{position:relative;border-radius:4px;display:block;width:100%;max-width:320px;padding-bottom:56.25%;background-size:cover}.cas{position:absolute;height:20px;line-height:20px;border-radius:4px;background-color:rgba(30,30,30,.5);font-size:11px;padding:0 7px;color:#fff;margin:5px;font-weight:600;right:0}.label-new{position:absolute;height:20px;line-height:20px;border-radius:4px;background-color:#ff9f00;font-size:11px;padding:0 7px;color:#fff;margin:5px;font-weight:600;left:0}.more-flex h3{font-family:'Roboto Condensed',sans-serif;font-weight:600;line-height:20px;max-height:2.5rem;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:normal;-webkit-line-clamp:2;display:-webkit-box;-webkit-box-orient:vertical;font-size:16px;text-transform:none;color:#000}.play{opacity:0;-webkit-transition:opacity .25s ease-in-out;-o-transition:opacity .25s ease-in-out;transition:opacity .25s ease-in-out;display:block;height:60px;width:60px;border-radius:100%;background:#c00 url(images/play2.png) center center no-repeat;position:absolute;top:50%;left:0;right:0;margin:auto;margin-top:-30px;z-index:999}.more-flex a:hover .play{opacity:1}


/*mtv app*/
.grow {
    display: inline-block;
    transition: transform .15s linear;
}

.grow:hover {
    transform: scale(1.05);
}

.malltvapp {
    background: #1d1d1d;
    color: #ffffff;
}

.h2-app {
    color: #ffffff;
}

div.mobil {
    margin-bottom: -50px;
    margin-top: 20px;
    text-align: center;
}

.store {
    margin-bottom: 10px;
    margin-right: 5px;
}
.mtvapp100 {
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

.malltvapp .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 50px;
}

.mtvapp1,
.mtvapp2 {
    width: 50%;
}

.mallapp1 {
    margin-right: 20px;
}

@media screen and (max-width: 1199px) {
div.mobil {
    margin-bottom: -107px;
}
}

@media screen and (max-width: 991.5px) {
    div.mobil {
        margin-bottom: -134px;
    }
}

@media screen and (max-width: 767px) {
div.mobil {
    margin-bottom: -132px;
    }
}

@media screen and (max-width: 700px) {
div.mobil {
    margin-bottom: -50px;
   }
}

@media screen and (max-width: 525px) {
.store img {
     width: 80%;
     height: auto;
    }
}

p.platformy {
    margin-top: 20px;
}

div.plaformy {
    display: flex;
    flex-wrap: wrap;
}

div.platformy img {
    height: 30px;
    width: auto;
    margin-right: 5px;
    margin-bottom: 5px;
} 

@media screen and (max-width: 700px) {
.mtvapp1,
.mtvapp2 {
    width: 100% !important;
}

.mtvapp1 {
    margin-right: 0;
    text-align: center;
}
.mtvapp2 {
    margin-top: 10px;
}
}

#footer {
    background-color: #000;
    color: #fff;
    padding-bottom: 0;
}

#footer .container {
    background: url(images/m.svg) bottom left no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    height: 150px;
    text-align: right;
}
.nav-bg {
    background: black;
    color: white;

    .logo img {
        width: 100%;
        max-width: 150px;
        height: auto;
    }
}
    .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:hover {
        color: white;
    }
#introduction {
    background: $accent1 url(images/bg.png) no-repeat;
    background-position: center center;
    background-size: contain;
}
#introduction .character {


    img {
      width: 50%;  
      height: auto;  
    }
}

